/* Menu lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #001f3f;
    color: white;
    transform: translateX(-100%); /* Esconde o menu fora da tela */
    transition: transform 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 6rem 1rem 1rem;
    z-index: 999;
  }
  
  /* Exibe o menu quando a classe 'open' é aplicada */
  .side-menu.open {
    transform: translateX(0); /* Move o menu para dentro da tela */
  }
  
  /* Estilos dos itens do menu */
  h3 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 1rem 0;
  }
  
  li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  